
<mat-card>
    <button mat-raised-button color="accent">All</button>
    <button mat-raised-button color="accent">Of</button>
    <button mat-raised-button color="accent">The</button>
    <button mat-raised-button color="accent">Buttons</button>
</mat-card>

<mat-card>
    <ngx-monaco-editor [options]="editorOptions"
                       [(ngModel)]="code" 
                       style="height:60em;"
                       (onInit)="editorInit($event)"></ngx-monaco-editor>

    <button mat-raised-button color="primary" (click)="compile()">Compile</button>
</mat-card>


