
<mat-card>
    <button mat-raised-button color="accent">Loops</button>
    <button mat-raised-button color="accent" (click)="addVariable()">Variables</button>

    <button mat-raised-button color="accent" (click)="addConditional()">Conditional</button>
    <button mat-raised-button color="accent">Case</button>
</mat-card>

<mat-card>
    <ngx-monaco-editor [options]="editorOptions"
                       [(ngModel)]="code" 
                       style="height:60em;"
                       (onInit)="editorInit($event)"></ngx-monaco-editor>



    <button mat-raised-button color="primary" (click)="compile()">Compile</button>
</mat-card>