<div class="form-container">
    <mat-card class="login-card">
        
        <!-- Header -->
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <!-- content -->
        <mat-card-content>
            <form [formGroup]="form"
            class="example-form">

                <!-- email -->
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" 
                           matInput 
                           formControlName="email">
        
                    <mat-error *ngIf="form.get('email')?.errors">
                        Please enter a valid email address.
                    </mat-error>
        
                </mat-form-field>
                
                <!-- password -->
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password"
                           matInput 
                           formControlName="password">
        
                    <mat-error *ngIf="form.get('password')?.errors?.required">
                        Please provide your password.
                    </mat-error>
        
                </mat-form-field>
                
                <!-- button -->
                <div class="login-button">
                    <button mat-raised-button 
                            color="primary" 
                            (click)="login()">Login</button>
                </div>
            </form>
        </mat-card-content>

    </mat-card>
</div>


